*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 1000px;
    margin: auto;
}
img{
    width: 250px;
    height: 250px;
    margin: 5px;
}
.ninja{
    display: inline-block;
    align-items: center;
}
button{
    display: block;
    width: 100px;
    padding: 10px 10px;
    background-color: blue;
}